@{
    Layout = "_Layout";
}

@using HairSalon.Models;
@model List<HairSalon.Models.Stylist>;

<h1>Our Amazing Stylists!</h1>

@if (@Model.Count == 0)
{
  <h3>No Stylists have been added yet!</h3>
} 
else
{
    <ol>
    @foreach (Stylist stylist in Model)
    {
        <li>@stylist.Name</li>
        <ul>
        <em>@Html.ActionLink($"{stylist.Details}", "Details", new { id = stylist.StylistId }) | Currently Has These Clients: @stylist.Client.Name</em> 
        </ul>
        <br>
    }
    </ol>
}

<p>@Html.ActionLink("Add A New Stylist", "Create")</p>